@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* background-image: url('./wavy-lines.svg'); */
  background-color: aliceblue;
  background-size: cover;
  user-select: none;
}

span {
  padding : 0;
  margin : 0
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.versions {
  position: absolute;
  right: 20px;
  bottom: 30px;
  margin: 0 auto;
  padding: 10px 0;
  font-family: 'Menlo', 'Lucida Console', monospace;
  display: block;
  overflow: hidden;
  border-radius: 22px;
  backdrop-filter: blur(24px);
}

.versions li {
  display: block;
  border-bottom: 1px solid #ffffff6a;
  margin: 0 10px;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  opacity: 0.8
}

.unfamiliar,.familiar{
  display: inline-block;
  /* border: #a421216a solid 1px; */
  margin-top: 4px;
  
  transition: 0.4s;
  border-radius: 4px;
}

.text-status:hover{
  
  cursor: pointer;
  background-color: #afb3b694;
}

.unfamiliar{
  color:#d3540b;
  font-weight: 700;
  /* background-color: rgba(240, 24, 0, 0.306); */
  padding: 2px;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}
